// font
$body-font-family: 'NanumSquare', sans-serif;

// font-size
$font-small: 0.8rem;
$font-medium: 1.1rem;
$font-large: 1.4rem;
$font-X-large: 1.8rem;
$font-XX-large: 2.5rem;

// font-Weight
$font-size-extraBold: 800;
$font-size-bold: 700;
$font-size-regular: 400;

// color
$bg-color: #262626;
$gray-color: #3C3C3C;
$light-gray-color: #575757;
$white-gray-color: #262626;
$white-color: #DEDEDE;